header {
    background-color: #49c0e4;
    color: white;
    align-items: center;
}
.logo {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

header h2 {
    margin: 0;
    flex: 1;
    font-size: 16px;
}

.debug-list .status {
    padding: 5px;
    font-size: 12px;
}

.debug-list p {
    word-break: break-word;
}